.button{
    width: 20%;
    margin-left: 8%;
    margin-right: 8%;
    margin-top: 2%;
    margin-bottom: 2%;
}
#background{
  
    background: #4d46ce;
    background: linear-gradient(to top right, #4d46ce, 70%, #dd21be)
}