<div id="background">
  <nav>
    <button mat-raised-button color="primary" routerLink="/login" class="button">Logout 
      <mat-icon>logout</mat-icon>
    </button>
  
    <button mat-raised-button color="primary" routerLink="/upload" class = "button">Upload
      
      <mat-icon>image</mat-icon>     
    </button>
  </nav>
  <router-outlet></router-outlet>
</div>

<router-outlet></router-outlet>