body {

  padding: 0;
  margin: 0;

  top: 25;
  left: 0;

  width: 100%;
  height: 100%;

  background: #524bd1;
  background: linear-gradient(to top right, #524bd1, 70%, #dd1fbd);
  z-index: -1;
}

mat-card {
  width: 85%;
  height: 75%;
  top: 50%;
  left: 50%;
  text-align: center;
  border-radius: 20px;
  position: fixed;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-flow: row nowrap;
}
  
mat-form-field {
  display: block;
}

mat-card-content{
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;  
}

.field{
  width: 40vh;
}
.loginBtn{
  width: 40vh;
  background-color: #74c747;
  color: white;
  border-radius: 100px;
  padding: 10px;
  margin: 10px;
  font-size: large;
}

.loginBtn:hover{
  background-color: #2e521b;
}

.loginImg{
  width: 30%;
  height: 80%;
}