<body>
  <mat-card>
    <img class="loginImg" src="../../assets/images/login_avatar.png">
    <mat-card-content>
        <form>
          <h1 class="title">User Login</h1>

          <mat-form-field appearance="outline" class="field">
            <mat-icon matPrefix>email</mat-icon>
            <mat-label>Email id</mat-label>
            <input matInput placeholder="email">
          </mat-form-field>

          <mat-form-field appearance="outline" class="field">
            <mat-icon matPrefix>https</mat-icon>
            <mat-label>Password</mat-label>
            <input matInput placeholder="password">
          </mat-form-field>

          <button mat-raised-button color="primary"  class="loginBtn">Login</button>
          

        </form>
        <a>Forgot Username/Password?</a>
    </mat-card-content>
  </mat-card>
</body>