<div class="centering">
   
    <br>    
        <input  
        style="display: none;" 
        type ="file"
        (change)="onSelected($event)" 
        #fileInput
        >
        <button class="uploadBtn" type="button" (click)="fileInput.click()">Upload</button>
        
    <br>
        <img [src]="imgLocation" fxLayoutAlign="stretch">
        
    
</div>


